<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" th:href="@{/css/user.css}">
    <script src="user.js"></script>
</head>
<body>
<div class="one">
    <h1> Sign up</h1>
    <form th:action="@{/signUpp}" method="post">
        <div>
            <input required type="text" name="fullName" id="fullName" placeholder="Enter User name">
        </div>
        <div>
            <input required type="email" name="email" id="email" placeholder="Enter email">
        </div>
        <div>
            <input required type="number" name="mobNo" id="mobNo" placeholder="Enter mobile number">
        </div>
        <div>
            <input required type="password" name="password" id="password" placeholder="Enter password">
        </div>
        <div>
            <input required type="password" name="Enter confirm-password" placeholder="Enter confirm password">
        </div>
        <button type="submit">Submit form</button>
    </form>
    <p> Already have an account ? <a th:href="@{/login}">Login</a></p>
</div>
</body>
</html>